<%- include('chead.ejs') %>

    <div class="main-panel">
        <div class="content-wrapper">
            <h3 class="headtext p-3"><i class="fa-solid fa-cog"></i> Banner management</h3>
            <div class="productsNav mt-3 mb-5">
                <a href="/admin/addbanner" class="btn btn-success" id="openAddBanner"><i class="mdi mdi-plus"></i>
                    Banner</a>
            </div>
            <div class="banners">
                <div class="row">
                    <% banners.map((banner)=>{ %>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="banner-card">
                                <img src="<%= banner.Image %>" alt="bannerImage" class="mb-2">
                                <div class="texts">
                                    <h6>
                                        <%= banner.Category %>
                                    </h6>
                                    <h4>
                                        <%= banner.Title %>
                                    </h4>
                                    <h5>$<%= banner.Price %>
                                    </h5>
                                </div>
                                <div class="action">
                                    <a class="btn btn-primary" href="/admin/editbanner?bid=<%= banner._id %>">Change</a>
                                    <button class="btn btn-danger"
                                        onclick="deleteBanner('<%= banner._id %>')">Delete</button>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>

    <script>
        function deleteBanner(bid) {
            const prompt = confirm('Are you sure you want to Delete the banner ?');
            if (prompt) {
                $.ajax({
                    type: 'GET',
                    url: '/admin/deletebanner/' + bid,
                    success: function (response) {
                        console.log('Banner Removed successfully:', response);
                        // Update the total price and any other UI elements as needed
                        // For simplicity, let's reload the page to update the UI after quantity change
                        location.reload();
                    },
                    error: function (error) {
                        console.error('Error removing order item:', error);
                        location.reload();
                    }
                });
            }
        }
    </script>

    <%- include('cfoot.ejs') %>