<%- include('chead.ejs') %>
<div class="main-panel">
    <div class="content-wrapper">
        <h3 class="headtext p-3 mb-1"><i class="fa-solid fa-cog"></i> Order Controls</h3>
        <a href="/admin/cancelledorders">
            <button type="button" class="btn btn-warning position-relative mb-4">
                Cancelled Orders
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                    <%= ccount %>
                </span>
            </button>
        </a>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Total items</th>
                    <th scope="col">Total amount</th>
                    <th scope="col">Date Ordered</th>
                    <th scope="col">Status</th>
                    <th scope="col">View order</th>
                    <th scope="col">Cancel order</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders){ %>
                    <% orders.map((order, index)=>{ %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td>
                                <%= order.Username %>
                            </td>
                            <td>
                                <%= order.Items.length %>
                            </td>
                            <td>$<%= order.Totalamount %>
                            </td>
                            <td>
                                <%= order.Orderdate.toDateString() %>
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuOutlineButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <%= order.Status %> </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOutlineButton1">
                                      <h6 class="dropdown-header">Status</h6>
                                      <a class="dropdown-item" onclick="changeStatus('<%= order._id %>', 'active')">Active</a>
                                      <a class="dropdown-item"
                                      onclick="changeStatus('<%= order._id %>', 'shipped')">Shipped</a>
                                                <a class="dropdown-item"
                                                onclick="changeStatus('<%= order._id %>', 'delivered')">Delivered</a>
                                    </div>
                                  </div>
                            </td>
                            <td>
                                <a href="/admin/vieworder?oid=<%= order._id %>" class="btn btn-primary">view</a>
                            </td>
                            <td>
                                <a href="/admin/deleteorder/<%= order._id %>" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to cancel the order?')">delete</a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    </div>

    <script>
        function changeStatus(oid, status){
            $.ajax({
                url: '/admin/changeorderstatus',
                data:{
                    orderid: oid,
                    status: status
                },
                method: 'POST',
                success: (response)=>{
                    location.reload();
                }
            })
        }
    </script>

    <%- include('cfoot.ejs') %>
