<%- include('head.ejs') %>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>
                            <%= product?product.Productname:'Checkout cart' %>
                        </span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shope">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">
                        <div class="checkout-discount">
                            <div style="display: flex;align-items: center;justify-content: center;">
                                <input type="text" class="form-control" id="coupon-input"
                                    placeholder="Paste or enter your coupon code here" value="<%= coupon?coupon.Code:'' %>">
                                    <button id="apply-coupon-button" >Apply</button>
                            </div>
                        </div><!-- End .checkout-discount -->
                        <form id="the-checkout-form" method="post" action="/saveorder">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->

                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="checkoutAddress" id="first-address-element" onclick="handleCheckoutAddressClick1({
                                                Cname: '<%= address.Firstaddress.Cname %>',
                                                City: '<%= address.Firstaddress.City %>',
                                                Place: '<%= address.Firstaddress.Place %>',
                                                Landmark: '<%= address.Firstaddress.Landmark %>',
                                                Pincode: '<%= address.Firstaddress.Pincode %>',
                                                Country: '<%= address.Firstaddress.Country %>',
                                            })">
                                                <h6>Primary address</h6>
                                                <% if(address){ %>
                                                    <% if(address.Firstaddress.Country){ %>
                                                        <p>
                                                            <%= address.Firstaddress.Cname %>,
                                                                <%= user.Phone %>,
                                                                    <%= address.Firstaddress.City %>,
                                                                        <%= address.Firstaddress.Place %>,
                                                                            <%= address.Firstaddress.Landmark %>,
                                                                                <%= address.Firstaddress.Pincode %>,
                                                                                    <%= address.Firstaddress.Country %>,
                                                        </p>
                                                        <% }else{ %>
                                                            <a href="">add new</a>
                                                            <% } %>
                                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="checkoutAddress" id="second-address-element" onclick="handleCheckoutAddressClick2({
                                                City: '<%= address.Secondaddress.City %>',
                                                Cname: '<%= address.Secondaddress.Cname %>',
                                                Place: '<%= address.Secondaddress.Place %>',
                                                Landmark: '<%= address.Secondaddress.Landmark %>',
                                                Pincode: '<%= address.Secondaddress.Pincode %>',
                                                Country: '<%= address.Secondaddress.Country %>',
                                            })">
                                                <h6>Secondary address</h6>
                                                <% if(address){ %>
                                                    <% if(address.Secondaddress.Country){ %>
                                                        <p>
                                                            <%= address.Secondaddress.Cname %>,
                                                                <%= user.Phone %>,
                                                                    <%= address.Secondaddress.City %>,
                                                                        <%= address.Secondaddress.Place %>,
                                                                            <%= address.Secondaddress.Landmark %>,
                                                                                <%= address.Secondaddress.Pincode %>,
                                                                                    <%= address.Secondaddress.Country %>
                                                                                        ,
                                                        </p>
                                                        <% }else{ %>
                                                            <a href="">add new</a>
                                                            <% } %>
                                                                <% } %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12">
                                            <label>Name *</label>
                                            <input type="text" class="form-control" name="uname"
                                                value="<%= address? address.Firstaddress.Cname : '' %>" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Company Name (Optional)</label>
                                    <input type="text" class="form-control" name="companyname">

                                    <label>Country *</label>
                                    <input type="text" class="form-control" name="country" required>

                                    <label>Street address *</label>
                                    <input type="text" name="streetaddress1" class="form-control"
                                        placeholder="House number and Street name"
                                        value="<%= address? address.Firstaddress.Landmark : '' %>" required>
                                    <input type="text" name="streetaddress1" class="form-control streetaddress1"
                                        placeholder="Appartments, suite, unit etc ..." required>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Town / City *</label>
                                            <input type="text" class="form-control" name="city"
                                                value="<%= address? address.Firstaddress.City : '' %>" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>State / County *</label>
                                            <input type="text" class="form-control" name="state"
                                                value="<%= address? address.Firstaddress.Country : '' %>, <%= address? address.Firstaddress.Place : '' %>"
                                                required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Postcode / ZIP *</label>
                                            <input type="text" class="form-control" name="pincode"
                                                value="<%= address? address.Firstaddress.Pincode : '' %>" required>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Phone *</label>
                                            <input type="tel" class="form-control" name="phone"
                                                value="<%= user.Phone %>" required>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Email address *</label>
                                    <input type="email" class="form-control" value="<%= user.Email %>" name="email"
                                        required>

                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
                                        <label class="custom-control-label" for="checkout-diff-address">Save this as
                                            primary address</label>
                                    </div><!-- End .custom-checkbox -->

                                    <label>Order notes (optional)</label>
                                    <textarea class="form-control" cols="30" rows="4"
                                        placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% let subtotal=0 %>
                                                    <% if(cart){ %>
                                                        <% cart.map((product)=>{ %>
                                                            <input type="hidden" name="productId"
                                                                value="<%= product.Productid._id %>">
                                                            <input type="hidden" name="quantity"
                                                                value="<%= product.Quantity %>">
                                                            <input type="hidden" name="pimage"
                                                                value="<%= product.Productid.Imagepath[0] %>">
                                                            <tr>
                                                                <td><a href="#">
                                                                        <%= product.Productid.Productname %>
                                                                    </a><i
                                                                        style="color: rgb(0, 0, 0);font-weight: 500;"> x
                                                                        <%= product.Quantity %>
                                                                    </i></td>
                                                                <td>$<%= (product.Productid.Price - product.Productid.Discount)  * product.Quantity %>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                                <% } else {%>
                                                                    <input type="hidden" name="productId"
                                                                        value="<%= product._id %>">
                                                                    <input type="hidden" name="quantity"
                                                                        value="<%= quantity %>">
                                                                    <input type="hidden" name="pimage"
                                                                        value="<%= product.Imagepath[0] %>">
                                                                    <tr>
                                                                        <td><a href="#">
                                                                                <%= product.Productname %>
                                                                            </a><i
                                                                                style="color: rgb(0, 0, 0);font-weight: 500;">
                                                                                x
                                                                                <%= quantity %>
                                                                            </i></td>
                                                                        <td>$<%= (product.Price - product.Discount) * quantity %>
                                                                        </td>

                                                                    </tr>
                                                                    <% } %>
                                                                    <% if(coupon){ %>
                                                                        <tr class="summary-subtotal">
                                                                            <td>Applied discount:</td>
                                                                            <td><%= coupon.Discount %>%
                                                                            </td>
                                                                        </tr><!-- End .summary-subtotal -->
                                                                        <% } %>
                                                                        <tr class="summary-subtotal">
                                                                            <td>Subtotal:</td>
                                                                            <td>$<%= total %>
                                                                            </td>
                                                                        </tr><!-- End .summary-subtotal -->
                                                                        <tr>
                                                                            <td>Shipping:</td>
                                                                            <td>Free shipping</td>
                                                                        </tr>
                                                                        <tr class="summary-total">
                                                                            <td>Total:</td>
                                                                            <td>$<%= total %>
                                                                                    <input type="hidden"
                                                                                        name="totalAmount"
                                                                                        value="<%= total %>">
                                                                            </td>
                                                                        </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->

                                        <div class="accordion-summary" id="accordion-payment">

                                            <div class="card p-2">
                                                <div class="card-header" id="heading-3">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="payby" role="button"
                                                            data-toggle="collapse" href="#collapse-3"
                                                            aria-expanded="true" aria-controls="collapse-3" value="cod"
                                                            required> Pay On Delivery
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">The payment will be received from your
                                                        doorstep, delivery guys will receive an otp from your
                                                        registeredmobile number to confirm the payment.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card p-2">
                                                <div class="card-header" id="heading-4">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="payby" role="button"
                                                            data-toggle="collapse" href="#collapse-4"
                                                            aria-expanded="true" aria-controls="collapse-4"
                                                            value="online" required> Razorpay <br>
                                                        <img src="assets/images/payments-summary.png"
                                                            alt="payments cards">
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-4" class="collapse" aria-labelledby="heading-4"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Online Banking.. Purchase the item directly from your Bank or
                                                        debitcard, This is a UPI based payment support provided by our
                                                        trusted partners from Razorpay
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->

                                            <div class="card p-2">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title">
                                                        <input type="radio" name="payby" role="button"
                                                            data-toggle="collapse" href="#collapse-5"
                                                            aria-expanded="true" aria-controls="collapse-5"
                                                            value="wallet" required> Wallet <br>

                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5"
                                                    data-parent="#accordion-payment">
                                                    <div class="card-body"> <span class="text-success">balance: $<%=
                                                                wallet.Balance %></span> <br> Purchase the item directly
                                                        from your TouchBrand Wallet
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                        </div><!-- End .accordion -->

                                        <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="about.html">About Molla</a></li>
                                    <li><a href="#">How to shop on Molla</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="contact.html">Contact us</a></li>
                                    <li><a href="login.html">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="#">Money-back guarantee!</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Terms and conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Sign In</a></li>
                                    <li><a href="cart.html">View Cart</a></li>
                                    <li><a href="#">My Wishlist</a></li>
                                    <li><a href="#">Track My Order</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->


    <script>
        let addressData
        function handleCheckoutAddressClick1(Data) {
            addressData = Data
            document.getElementById('first-address-element').classList.add('activeaddress')
            document.getElementById('second-address-element').classList.remove('activeaddress')
            setAddressData()
        }
        function handleCheckoutAddressClick2(Data) {
            addressData = Data
            document.getElementById('second-address-element').classList.add('activeaddress')
            document.getElementById('first-address-element').classList.remove('activeaddress')
            setAddressData()
        }
        function setAddressData() {
            document.querySelector('input[name="streetaddress1"]').value = addressData.Landmark
            document.querySelector('input[name="uname"]').value = addressData.Cname
            document.querySelector('.streetaddress1').value = addressData.Place
            document.querySelector('input[name="city"]').value = addressData.City
            document.querySelector('input[name="pincode"]').value = addressData.Pincode
            document.querySelector('input[name="country"]').value = addressData.Country
        }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <script>
        document.getElementById('the-checkout-form').addEventListener('submit', (e) => {
            console.log("AAh pressed");
            e.preventDefault();
            $.ajax({
                url: "/saveorder",
                method: "post",
                data: $("#the-checkout-form").serialize(),
                success: ((response) => {
                    alert(response)
                    if (response.codsuccess) {
                        location.href = "/placeorder"
                    } else if (response.walletpay == 'success') {
                        alert(response)
                        location.href = "/placeorder"
                    } else if (response.walletpay == 'failed') {
                        alert('Payment Failed Insuficiant wallet Balance');
                        location.reload()
                    } else {
                        console.log(response);
                        razorpayPayment(response)
                    }
                })
            })
        })

        function razorpayPayment(order) {
            var options = {
                "key": "rzp_test_gL0J7DIqai39TQ", // Enter the Key ID generated from the Dashboard
                "amount": order.amount,
                "currency": "INR",
                "description": "TouchBrand",
                "image": "https://s3.amazonaws.com/rzp-mobile/images/rzp.jpg",
                "order_id": order.id,
                "prefill":
                {
                    "email": "gasalplay@gmail.com",
                    "contact": +919447771103,
                },
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "modal": {
                    "ondismiss": function () {
                        if (confirm("Are you sure, you want to close the form?")) {
                            txt = "You pressed OK!";
                            console.log("Checkout form closed by the user");
                        } else {
                            txt = "You pressed Cancel!";
                            console.log("Complete the Payment")
                        }
                    }
                },
                "notes": {
                    "address": "User Address"
                },
                "theme": {
                    "color": "#3399cc"
                },
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment,
                    order
                },
                method: 'POST',
                success: (response) => {
                    if (response.status) {
                        location.href = "/placeorder"
                    } else {
                        alert("Error: " + response.error.message)
                    }
                }
            })
        }
    </script>
    <script>
        // Get references to the input fields and the button
        const couponInput = document.getElementById("coupon-input");
        const applyButton = document.getElementById("apply-coupon-button");

        // Define the click event for the "Apply" button
        applyButton.addEventListener("click", function () {
            // Get product ID and quantity from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const productId = urlParams.get("pid");
            const quantity = urlParams.get("qty");

            // Get the coupon code from the input field
            const couponCode = couponInput.value;

            if(!productId){
                location.href = `/cartcheckout?coupon=${couponCode}`
            }else{
                location.href = `/checkout?pid=${productId}&qty=${quantity}&coupon=${couponCode}`
            }

        });
    </script>
    <%- include('foot.ejs') %>