<%- include('head.ejs') %>

<div class="page-wrapper">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">About Order<span>TouchBrand</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/account">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Order Details</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    <% if(order){ %>
        <div class="container">
    <!-- Product listing -->
    <div class="row ">
        <div class="col-12" style="display: flex; justify-content: space-between;">
            <h5 style="color: slategray;">On: <%= order.Orderdate.toDateString() %></h5>
        </div>
        <div class="allProducts row col-12 mt-1">
            <% order.Items.map((item)=>{ %>
            <div class="gcard2 col-12 col-lg-4 mb-2">
                <img src="<%= item.Productimg %>" class="shadow" alt="">
                <div class="gcard2-body p-3">
                    <h6><%= item.Productname %></h6>
                    <span>Quantity: <%= item.Quantity %></span><br>
                    <span>Price: $<%= item.Price %></span><br>
                    <span>Shipping cost: $<%= item.Shippingcost %></span><br>
                    <span>Total: $<%= (item.Price + item.Shippingcost) * item.Quantity  %></span>
                    <span class="text-success h6"><%= item.Paymet == 'cod'?'COD':'Payed' %></span>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4" style="display: flex; justify-content: space-between;">
            <h5 style="color: slategray;"><i class="fa-solid fa-angle-down"></i> Order details</h5>
            <!-- <h5 style="color: slategray;">Arriving: <%= order.Orderdate.toDateString() %></h5> -->
        </div>
        <div class="col-12 row">
            <div class="col-12 col-lg-6">
                <h6 style="color: rgb(71, 88, 68);">Delivered to: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.cname %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">City: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.city %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Street/Home: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.streetaddress %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Landmark: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.landmark %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Country: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.country %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">State: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.state %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Pincode: <span style="color: rgb(146, 146, 146);"><%= order.Deliveryaddress.pincode %></span></h6>
            </div>
            <div class="col-12 col-lg-6">
                <h6 style="color: rgb(71, 88, 68);">Expected delivery: <span style="color: rgb(146, 146, 146);"><%
                    let edate=new Date(order.Orderdate);
                    edate.setDate(edate.getDate()+3) %>
                    <%= edate.toDateString() %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Delivery Status: <span style="color: rgb(146, 146, 146);"><%= order.Status %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Items count: <span style="color: rgb(146, 146, 146);"><%= order.Items.length %></span></h6>
                <h6 style="color: rgb(71, 88, 68);">Total amount: <span style="color: rgb(146, 146, 146);">$<%= order.Totalamount %></span></h6>
                <br>
                <h6 style="color: #141b7b;"> <u>Payment Detail</u></h6>
                <h6 style="color: rgb(71, 88, 68);">Payment methord: <span style="color: rgb(15, 184, 60);"><%= order.Items[0].Paymet %></span></h6>
            </div>
        </div>
    </div>
    <% } %>
</div>
<%- include('footer.ejs')%>
</div>

<%- include('foot.ejs') %>